.Rank {
  display: flex;
  justify-content: center;
  gap: 20px;

  width: fit-content;
  padding: 40px;

  background-color: #fff;
  border-radius: 20px;

  &.dark {
    background-color: #0d0d0d;
  }
}
