.App {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  height: 100%;
  padding: 50px;
}

.App_cardsGrab {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.App_rank {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100%;
}
